
body {
  background-image: url("gym.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.left {
  color: white;

  margin: -20px 7px;
  padding: 2px 3px;
  display: inline-block;
  position: absolute;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Merriweather", serif;
  font-family: "Raleway", sans-serif;
}

.center {
  color: white;

  display: block;
  width: 33%;
  margin: 30px auto;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Merriweather", serif;
  font-family: "Raleway", sans-serif;
}

.right {
  color: white;

  display: inline-block;
  position: absolute;
  top: 9px;
  right: 20px;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Merriweather", serif;
  font-family: "Raleway", sans-serif;
}

.navbar li {
  display: inline-block;
  padding: 6px 10px;
}

.navbar ul {
  margin: 3px 5px;
  padding: 2px 3px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Merriweather", serif;
  font-family: "Raleway", sans-serif;
}

.navbar li a:hover {
  color: red;
  text-decoration: underline;
}

.btn {
  border-radius: 6px;
  padding: 3px 17px;
  color: white;
  border: 2px solid white;
  background-color: black;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Merriweather", serif;
  font-family: "Raleway", sans-serif;
  margin: 9px;
  cursor: pointer;
}

.btn a
{
    line-height: 5px;
}

.left img {
  width: 112px;
  height: 72px;
  padding: 10px;
}

.left div {
  text-align: center;
  line-height: 2px;
  font-size: 12px;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Merriweather", serif;
  font-family: "Raleway", sans-serif;
}

.div {
  display: block;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn a:hover {
  color: red;
  text-decoration: underline;
}

.container {
  color: white;
  border: 2px solid red;
  display: inline-block;
  margin: 78px 19px;
  padding: 9px 40px;
}

.container h1 {
  text-align: center;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Merriweather", serif;
  font-family: "Raleway", sans-serif;

}

.form-grp input {
  display: block;
  width: 66%;
  padding: 6px 2px;
  margin: 11px auto;
  border-radius: 9px;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Merriweather", serif;
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 19px;
}

.container button
{
    margin: 10px auto;
    display: block;
    width: 66%;
    
}
